<center>
<h2>Sign up for an account!</h2>

<form method=post action=/signup>
<input type=text placeholder="username" name="user[name]"><br>
<input type=text placeholder="email" name="user[email]"><br>
<input type=password placeholder="password" name="user[password]"></br>
<input type=submit value="sign up">
</form>

<p><%= @errors if @errors %></p>
</center>

<center>
<h2>Login!</h2>

<form method=post action=/login>
<input type=text placeholder="email" name="user[email]" required><br>
<input type=password placeholder="password" name="user[password]" required></br>
<input type=submit value="login">
</form>

<p><%= @user_login if @user_login %></p>
</center>