<html>
	<head>
		<title>Sinatra Framework</title>
	</head>
	<body>
	<form method="post" action="/logout" >
    <button name="logout" value="logout">logout</button>
</form>
		<%= yield %>
		<% if flash %>
		<% flash.each do |k,v| %>
		<p class ="alert alert-success"><%= "#{v}"%>
		<% end %>
		<% end %>
	</body>
</html>