<html>
	<head>
		<title>Sinatra Framework</title>
	</head>
	<body>
	<form method="post" action="/logout" >
    <button name="logout" value="logout">logout</button>
</form>
		<%= yield %>
	</body>
</html>